*
!.mvn/**
!mvnw
!mvnw.cmd
!pom.xml
!mekano-domain/pom.xml
!mekano-domain/src/**
!mekano-application/pom.xml
!mekano-application/src/**
!mekano-infrastructure/pom.xml
!mekano-infrastructure/src/**
!mekano-rest/pom.xml
!mekano-rest/src/**
!mekano-rest/target
!mekano-rest/target/quarkus-app
!mekano-rest/target/quarkus-app/**
