# --- API ---
PROJECT_NAME=mekano-api
DOCKER_REGISTRY=ghcr.io/fiap-software-architecture-team
IMAGE_TAG=latest

# --- Database ---
DB_USER=mekano
DB_PASSWORD=mekano

# --- Evolution API (WhatsApp) ---
EVOLUTION_API_URL=http://evolution-api:5033
EVOLUTION_SERVER_URL=http://localhost:5033
EVOLUTION_API_KEY=change_me_global_api_key
EVOLUTION_INSTANCE_NAME=mekano
EVOLUTION_INSTANCE_TOKEN=change_me_instance_token
EVOLUTION_WEBHOOK_TOKEN=change_me_webhook_token
